body {
    box-sizing: border-box;
    margin: 5px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child, .child-mid{
    flex: 25%;
    max-width: 25%;
    height: 500px;
    margin: 30px;
    background-color: azure;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 4px #C4C0BC;
}
.child-mid {
    height: 550px;
    margin: 15px 30px 30px 30px;
}
img {
    width: 100%;
}
h2,p {
    width: fit-content;
    margin: 25px;
    text-align: left;
}
input[type="button"] {
    margin: 0px 25px 25px 25px;
    text-align: center;
    padding: 8px ;
    height: auto;
    width: 70%;
    background-color: thistle;
}
/* Responsive layout - makes a two column-layout instead of three columns */

@media (max-width: 800px) {
    .child, .child-mid {
        flex: 40%;
        max-width: 40%;
    }
}
/* Responsive layout - makes a one column-layout instead of three columns */
@media (max-width: 600px) {
    .child-mid, .child {
        flex: 90%;
        max-width: 90%;
        height: auto;
    }
}
